@keyframes ldio-uabp6ll8p0m {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-uabp6ll8p0m div {
  left: 91.605px;
  top: 65.01px;
  position: absolute;
  animation: ldio-uabp6ll8p0m linear 1.36986301369863s infinite;
  background: #df1317;
  width: 13.79px;
  height: 15.76px;
  border-radius: 6.895px / 7.88px;
  transform-origin: 6.895px 33.49px;
}.ldio-uabp6ll8p0m div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.355593607305936s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(2) {
  transform: rotate(3.75deg);
  animation-delay: -1.341324200913242s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(3) {
  transform: rotate(7.5deg);
  animation-delay: -1.327054794520548s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(4) {
  transform: rotate(11.25deg);
  animation-delay: -1.312785388127854s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(5) {
  transform: rotate(15deg);
  animation-delay: -1.29851598173516s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(6) {
  transform: rotate(18.75deg);
  animation-delay: -1.284246575342466s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(7) {
  transform: rotate(22.5deg);
  animation-delay: -1.2699771689497716s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(8) {
  transform: rotate(26.25deg);
  animation-delay: -1.2557077625570776s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(9) {
  transform: rotate(30deg);
  animation-delay: -1.2414383561643836s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(10) {
  transform: rotate(33.75deg);
  animation-delay: -1.2271689497716896s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(11) {
  transform: rotate(37.5deg);
  animation-delay: -1.2128995433789955s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(12) {
  transform: rotate(41.25deg);
  animation-delay: -1.1986301369863015s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(13) {
  transform: rotate(45deg);
  animation-delay: -1.1843607305936072s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(14) {
  transform: rotate(48.75deg);
  animation-delay: -1.1700913242009132s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(15) {
  transform: rotate(52.5deg);
  animation-delay: -1.1558219178082192s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(16) {
  transform: rotate(56.25deg);
  animation-delay: -1.1415525114155252s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(17) {
  transform: rotate(60deg);
  animation-delay: -1.1272831050228311s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(18) {
  transform: rotate(63.75deg);
  animation-delay: -1.113013698630137s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(19) {
  transform: rotate(67.5deg);
  animation-delay: -1.0987442922374429s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(20) {
  transform: rotate(71.25deg);
  animation-delay: -1.0844748858447488s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(21) {
  transform: rotate(75deg);
  animation-delay: -1.0702054794520548s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(22) {
  transform: rotate(78.75deg);
  animation-delay: -1.0559360730593608s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(23) {
  transform: rotate(82.5deg);
  animation-delay: -1.0416666666666667s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(24) {
  transform: rotate(86.25deg);
  animation-delay: -1.0273972602739727s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(25) {
  transform: rotate(90deg);
  animation-delay: -1.0131278538812785s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(26) {
  transform: rotate(93.75deg);
  animation-delay: -0.9988584474885845s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(27) {
  transform: rotate(97.5deg);
  animation-delay: -0.9845890410958904s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(28) {
  transform: rotate(101.25deg);
  animation-delay: -0.9703196347031964s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(29) {
  transform: rotate(105deg);
  animation-delay: -0.9560502283105023s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(30) {
  transform: rotate(108.75deg);
  animation-delay: -0.9417808219178082s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(31) {
  transform: rotate(112.5deg);
  animation-delay: -0.9275114155251142s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(32) {
  transform: rotate(116.25deg);
  animation-delay: -0.9132420091324202s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(33) {
  transform: rotate(120deg);
  animation-delay: -0.898972602739726s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(34) {
  transform: rotate(123.75deg);
  animation-delay: -0.884703196347032s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(35) {
  transform: rotate(127.5deg);
  animation-delay: -0.870433789954338s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(36) {
  transform: rotate(131.25deg);
  animation-delay: -0.8561643835616438s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(37) {
  transform: rotate(135deg);
  animation-delay: -0.8418949771689498s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(38) {
  transform: rotate(138.75deg);
  animation-delay: -0.8276255707762558s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(39) {
  transform: rotate(142.5deg);
  animation-delay: -0.8133561643835616s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(40) {
  transform: rotate(146.25deg);
  animation-delay: -0.7990867579908676s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(41) {
  transform: rotate(150deg);
  animation-delay: -0.7848173515981736s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(42) {
  transform: rotate(153.75deg);
  animation-delay: -0.7705479452054794s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(43) {
  transform: rotate(157.5deg);
  animation-delay: -0.7562785388127854s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(44) {
  transform: rotate(161.25deg);
  animation-delay: -0.7420091324200914s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(45) {
  transform: rotate(165deg);
  animation-delay: -0.7277397260273972s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(46) {
  transform: rotate(168.75deg);
  animation-delay: -0.7134703196347032s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(47) {
  transform: rotate(172.5deg);
  animation-delay: -0.6992009132420092s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(48) {
  transform: rotate(176.25deg);
  animation-delay: -0.684931506849315s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(49) {
  transform: rotate(180deg);
  animation-delay: -0.670662100456621s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(50) {
  transform: rotate(183.75deg);
  animation-delay: -0.656392694063927s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(51) {
  transform: rotate(187.5deg);
  animation-delay: -0.642123287671233s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(52) {
  transform: rotate(191.25deg);
  animation-delay: -0.6278538812785388s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(53) {
  transform: rotate(195deg);
  animation-delay: -0.6135844748858448s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(54) {
  transform: rotate(198.75deg);
  animation-delay: -0.5993150684931507s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(55) {
  transform: rotate(202.5deg);
  animation-delay: -0.5850456621004566s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(56) {
  transform: rotate(206.25deg);
  animation-delay: -0.5707762557077626s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(57) {
  transform: rotate(210deg);
  animation-delay: -0.5565068493150686s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(58) {
  transform: rotate(213.75deg);
  animation-delay: -0.5422374429223744s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(59) {
  transform: rotate(217.5deg);
  animation-delay: -0.5279680365296804s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(60) {
  transform: rotate(221.25deg);
  animation-delay: -0.5136986301369864s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(61) {
  transform: rotate(225deg);
  animation-delay: -0.49942922374429227s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(62) {
  transform: rotate(228.75deg);
  animation-delay: -0.4851598173515982s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(63) {
  transform: rotate(232.5deg);
  animation-delay: -0.4708904109589041s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(64) {
  transform: rotate(236.25deg);
  animation-delay: -0.4566210045662101s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(65) {
  transform: rotate(240deg);
  animation-delay: -0.442351598173516s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(66) {
  transform: rotate(243.75deg);
  animation-delay: -0.4280821917808219s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(67) {
  transform: rotate(247.5deg);
  animation-delay: -0.4138127853881279s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(68) {
  transform: rotate(251.25deg);
  animation-delay: -0.3995433789954338s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(69) {
  transform: rotate(255deg);
  animation-delay: -0.3852739726027397s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(70) {
  transform: rotate(258.75deg);
  animation-delay: -0.3710045662100457s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(71) {
  transform: rotate(262.5deg);
  animation-delay: -0.3567351598173516s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(72) {
  transform: rotate(266.25deg);
  animation-delay: -0.3424657534246575s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(73) {
  transform: rotate(270deg);
  animation-delay: -0.3281963470319635s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(74) {
  transform: rotate(273.75deg);
  animation-delay: -0.3139269406392694s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(75) {
  transform: rotate(277.5deg);
  animation-delay: -0.2996575342465754s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(76) {
  transform: rotate(281.25deg);
  animation-delay: -0.2853881278538813s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(77) {
  transform: rotate(285deg);
  animation-delay: -0.2711187214611872s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(78) {
  transform: rotate(288.75deg);
  animation-delay: -0.2568493150684932s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(79) {
  transform: rotate(292.5deg);
  animation-delay: -0.2425799086757991s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(80) {
  transform: rotate(296.25deg);
  animation-delay: -0.22831050228310504s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(81) {
  transform: rotate(300deg);
  animation-delay: -0.21404109589041095s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(82) {
  transform: rotate(303.75deg);
  animation-delay: -0.1997716894977169s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(83) {
  transform: rotate(307.5deg);
  animation-delay: -0.18550228310502284s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(84) {
  transform: rotate(311.25deg);
  animation-delay: -0.17123287671232876s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(85) {
  transform: rotate(315deg);
  animation-delay: -0.1569634703196347s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(86) {
  transform: rotate(318.75deg);
  animation-delay: -0.14269406392694065s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(87) {
  transform: rotate(322.5deg);
  animation-delay: -0.1284246575342466s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(88) {
  transform: rotate(326.25deg);
  animation-delay: -0.11415525114155252s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(89) {
  transform: rotate(330deg);
  animation-delay: -0.09988584474885845s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(90) {
  transform: rotate(333.75deg);
  animation-delay: -0.08561643835616438s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(91) {
  transform: rotate(337.5deg);
  animation-delay: -0.07134703196347032s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(92) {
  transform: rotate(341.25deg);
  animation-delay: -0.05707762557077626s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(93) {
  transform: rotate(345deg);
  animation-delay: -0.04280821917808219s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(94) {
  transform: rotate(348.75deg);
  animation-delay: -0.02853881278538813s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(95) {
  transform: rotate(352.5deg);
  animation-delay: -0.014269406392694065s;
  background: #df1317;
}.ldio-uabp6ll8p0m div:nth-child(96) {
  transform: rotate(356.25deg);
  animation-delay: 0s;
  background: #df1317;
}
.loadingio-spinner-spinner-ub8sll7o7y8 {
  width: 197px;
  height: 197px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-uabp6ll8p0m {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-uabp6ll8p0m div { box-sizing: content-box; }